Flask
Flask-SQLAlchemy
jsonpickle
petrelic
PySocks
pylint
pytest
requests

black
pytest-repeat
pytest-xdist
pytest-benchmark
pytest-benchmark[histogram]
scapy
jupyter
pandas
sklearn
matplotlib
seaborn